<f:layout name="Main"/>
<f:section name="Layout4">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 maincontent">
                <!--TYPO3SEARCH_begin-->
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
                <!--TYPO3SEARCH_end-->
            </div>
            <div class="col-xs-12 col-md-4 sidebar">
                <div class="sidebarmenu">
                    <f:render partial="Page/Sidebarmenu" arguments="{_all}"/>
                </div>
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '2'}" />
            </div>
        </div>
    </div>
    <div class="col-md-12 maincontent">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '4'}" />
    </div>
</f:section>
